.transact-message-companion
  = link_to '#', class: 'transact-message-companion__avator' do
    = image_tag 'user_no_photo'
  .transact-message-companion__container
    %span.transact-message-companion__container__name
      hoge
    .transact-message-companion__container__body
      hoge
      %br/
      hoge
      %br/
      hoge

.transact-message
  .transact-message__container
    %span.transact-message__container__name
      hoge
    .transact-message__container__body
      hoge
      %br/
      hoge
      %br/
      hoge
  = link_to '#', class: 'transact-message__avator' do
    = image_tag 'user_no_photo'


-# .balloon
-#   CSSだけで吹き出しをつくる - 曲がったアイコン
-#   %br/
-#   左上にアイコン