.item-link-nav{
  margin: 24px auto 0;
  width: 700px;
  display: flex;
  justify-content: space-between;
  a{
    color: #0099e8;
    font-size: 14px;
    text-decoration: none;
  }
  &__prev{
    position: relative;
    width: 45%;
    word-wrap: break-word;
    padding: 0 0 0 14px;
  }
  &__next{
    position: relative;
    width: 45%;
    word-wrap: break-word;
    padding: 0 14px 0 0;
    text-align: right;
  }
}