-if ['user_info' , 'phone_number' , 'user_address' , 'user_payment' , 'complete'].include?(controller.action_name) && controller.controller_name =='registrations'
  .header-user__signup-bar
    %ol.header-user__signup-bar--process
      %li.info
        会員情報
        .info--icon
      %li.phone-number
        電話番号認証
        .phone-number--icon
      %li.address
        お届け先住所入力
        .address--icon
      %li.payment
        支払い方法
        .payment--icon
      %li.complete
        完了
        .complete--icon
    .header-user__signup-bar--status-line
      .header-user__signup-bar--status-line--1
      .header-user__signup-bar--status-line--2
      .header-user__signup-bar--status-line--3
      .header-user__signup-bar--status-line--4
-else