.user-complete
  .user-complete__title
    %p.complete 会員登録完了
  .user-complete__message
    %p.text1 ありがとうございます。
    %p.text2 会員登録が完了しました。
    %input.start-mercari{type:"submit",value:"メルカリを始める"}
  .user-complete__image
