.user-adress
  .user-adress__title
    %p.input-adress 住所入力
    = form_for(@user, url: user_payment_path ,method: :get) do |f|
      = f.fields_for :adress do |a|
        =render partial: "devise/registrations/adress",locals:{f:f ,a:a}
