.credit-registration
  .credit-registration__title
    %p.payment 支払い方法
    = form_for(@user, url:  registration_complete_path ,method: :get) do |f|
      =render partial:"devise/registrations/credit",locals:{f:f}
    