.user-adress
  .user-adress__title
    %p.input-adress 住所入力
    = form_for(@user, url: user_payment_path) do |f|
      = f.fields_for :address do |a|
        =render partial: "devise/registrations/address",locals:{f:f ,a:a}
