.page-current{
  display: inline-block;
  width: 44px;
  height: 44px;
  border-radius: 4px;
  color: #fff;
  background: #ea352d;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 42px;
  text-align:center;
}