.item-tag{
  display: flex;
  margin-left: -3px;
  &__box{
    cursor: pointer;
    height: 44px;
    position: relative;
    z-index: 3;
    padding: 0px 10px;
  }
  &__category{
    &--name{
      display: block;
      font-size: 14px;
      font-weight: 600;
      line-height: 36px;
      white-space: nowrap;
      &:hover{
        color: #0099e8;
      }
      i {
        color: #ea352d;
      }
    }
    &--box{
      left: 6px;
      position: absolute;
      top: 44px;
      z-index: 1;
      background-color: rgb(255, 255, 255);
      box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
      width: 224px;
      display:block;
    }
  }
  &__brand{
    &--name{
      display: block;
      font-size: 14px;
      font-weight: 600;
      line-height: 36px;
      white-space: nowrap;
      &:hover{
        color: #0099e8;
      }
      i {
        color: #ea352d;
      }
    }
    &--box{
      display: none;
      left: -34px;
      position: absolute;
      top: 44px;
      z-index: 1;
    }
  }
}
