.items-image-upload {
  padding: 40px;
  &__notice {
    margin-top: 8px;
  }
  &__dropbox {
    margin-top: 16px;
    min-height: 162px;
    padding: 40px;
    background: #f5f5f5;
    border: 1px dashed #ccc;
    font-family: monospace;
    font-size: 14px;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.items-name-description {
  padding: 40px;
}