.credit-update
  .credit-update__label
    支払い方法
  .credit-update__content
    %section.credit-list
      .credit-list--label
        クレジットカード一覧
    %section.credit-card--add
      = link_to edit_card_path, class: 'credit-card--add__box' do
        .add-image
          = image_tag 'card-icon.png', width: '17.5px', height: '14px'
        .add-content
          クレジットカードを追加する
    = link_to 'https://www.mercari.com/jp/help_center/category/6/',class: 'credit-card--about' do
      %span.payment-method
        支払い方法について    
      %i.payment-method-icon
        = fa_icon 'chevron-right'