%li
  = link_to "", url: "#", class: "mypage-tab-container__content__list" do
    = image_tag "mercari_profile.png", class: "mypage-tab-container__content__list__fig"
    .mypage-tab-container__content__list__body
      %p.mypage-tab-container__content__list__body--text
        【テスト】ほげほげほげほげ。ほげほげほげほげほえ。ほげほげほげ。ほげほげほげほげ。ほげほげほげほげほえ。ほげほげほげ。
      = icon "fa", "clock-o", class: "mypage-tab-container__content__list__body--clock"
      %span.mypage-tab-container__content__list__body--clock{style: "font-size: 14px;"} 1日前
    .mypage-tab-container__content__list__arrow
      = icon "fa", "chevron-right"