.search-sorting{
  opacity: 1;
  position: static;
  width: auto;
  text-align: left;
  select{
    background: #fff;
    height: 48px;
    width: 100%;
    padding: 0 16px;
    border: 1px solid #ccc;
  }
}