.search-detail{
  background: #fff;
  padding: 16px;
  margin: 40px 0 0;
  display: block;
  box-shadow: none;
  // position: static;
  // top: 72px;
  // left: 0;
  // right: 0;
  // z-index: 1;
  &__title{
    font-size: 14px;
    vertical-align: middle;
    font-weight: 600;
    &--large{
    font-size: 16px;
    display: block;
    font-weight: bold;
    }
  }

  &__box{
    margin: 24px 0 0;
    &--check-box{
      
      label{
        color: #333;
        display: flex;
        display: inline-block;
        width: 48%;
        padding: 0 0 0 28px;
        font-size: 14px;
        vertical-align: middle;
        word-break: break-word;
        margin: 8px 0 0;
        position: relative;
      }
    }
    &__label{
      display: block;
      font-weight: 600;
    }
  }

  &__icon{
    margin: 0 4px 0 0;
    color: #888;
    font-size: 16px;
    vertical-align: middle;
    position: relative;
    top: -1px;
  }

  &__text-form{
    width: 100%;
    height: 48px;
    margin: 8px 0 0;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
    &--price{
      width: 45%;
      margin: 8px 0 0;
      height: 48px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #fff;
      line-height: 1.5;
      font-size: 16px;
    }
  }

  &__select-form{
    width: 100%;
    position: relative;
    z-index: 2;
    height: 48px;
    padding: 0 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: 0;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
  }

  &__check-box{
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background: #fff;
    border: 1px solid #ccc;
    font-size: 10px;
    line-height: 17px;
    text-align: center;
    color: #fff;
    vertical-align: middle;
    -webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }

  &__btn{
    height: 90px;
    padding: 40px 0 0;
    display: flex;
    justify-content: space-between;
    &--clear{
      background: #aaa;
      border: 1px solid #aaa;
      color: #fff;
      width: 45%;

      display: block;
      line-height: 48px;
      font-size: 14px;
      border: 1px solid transparent;
      -webkit-transition: all ease-out .3s;
      transition: all ease-out .3s;
      cursor: pointer;
      text-align: center;

    }
    &--search{
      width: 45%;
      background: #ea352d;
      border: 1px solid #ea352d;
      color: #fff;

      display: block;
      line-height: 48px;
      font-size: 14px;
      border: 1px solid transparent;
      -webkit-transition: all ease-out .3s;
      transition: all ease-out .3s;
      cursor: pointer;
      text-align: center;
    }
  }
}