.item-profile
  = link_to (), class: 'item-profile__link' do
    %figure.item-profile__main
      %figcaption.item-profile__title
        %span.item-profile__title--text
          = item.name
      .item-profile__image
        %span.item-profile__image--price
          ¥
          = item.price
        = image_tag 'sample_image_gandam.jpg', class: 'item-profile__image--item-image'