.category-show{
  margin: 40px auto 0;
  width: 1020px;
&__name{
  font-size: 22px;
  margin: 24px 0 8px;
  font-weight: bold;
  
}
&__link{
  display: inline; 
  margin: 16px 16px 0 0;
  color:#0095ee;
  &--name{
    display: inline; 
    font-size: 14px;
  }
}
  &__item{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px 20px;
  }
}