.side-bar {
  width: 280px;
  margin: 0 40px 0 0;
  &__lists {
    list-style: none;
    &--item {
      position: relative;
      display: block;
      min-height: 48px;
      padding: 16px;
      background: #fff;
      font-size: 14px;
      color: #333;
      text-decoration: none;
      border-bottom: solid  1px #f5f5f5;
    }
    &--active {
      background: #eee;
      font-weight: 600;
    }
  }
  &__head {
    font-size: 16px;
    display: block;
    margin: 40px 0 5px;
    font-weight: bold;
  }
}